body{  /* INICIO DO CORPO DO CÓDIGO */               
  background-color: cadetblue; /* SELECIONA TODO O CORPO DA PÁGINA, E A COLORE DE AZUL */
  margin: 0;  /*  ZERA TODAS AS MARGENS DO CORPO DA PÁGINA*/
}

/* SELECIONA LISTAS NÃO ORDENADAS */
#produtos ul,   /* ESTILIZA A LISTA NÃO ORDENADA DE PRODUTOS */
#carrinho ul { /* ESTILIZA A LISTA NÃO ORDENADA DO CARRIHO */
  list-style: none; /* REMOVE OS MARCADORES OU NUMERAÇÃO APLICADA PELOS NAVEGADORES */
  padding: 0; /* RETIRA O ESPAÇO ENTRE OS ELEMENOS DA LISTA E AS BORDAS DELA */
  margin: 0; /* RETIRA AS MARGENS DESTAS LISTAS */
}

/* SELECIONA OS TÍTULOS DA PÁGINA, ALINHA OS NO CENTRO DELA, COLORE,  E CONFIGURA A FONTE USADA PARA ESTES TÍTULOS */
h1, h2 {   /* TÍTULO E SUBTÍTULO DA PÁGINA */
  text-align: center; /* ALINHA OS TEXTOS DO TÍTULO E SUBTÍTULO NO CENTRO HORIZONTAL DA PÁGINA*/
  color: rgba(2, 2, 29, 0.993); /* DEFINE A COR DOS TEXTOS DO TÍTULO E SUBTÍTULO */
  font-size: 16px; /* DEFINE O TAMANHO DA FONTE DESTES TEXTOS */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Define a família da fonte */
  /* DEFINE A FONTE USADA NO TÍTULO E SUBTÍTULO */
}

/* SELECIONAS OS ÍTENS DOS CONTAINERES(DISCOS E VALORES) MOSTRA NA TELA DE FORMA ALINHADA, ESPAÇANDO ENTRE ELES, E OS COLORINDO */
#produtos li,   /* DEFINE OS ELEMENTOS DA LISTA PRODUTOS PARA EXIBIÇÃO */
#carrinho li { /* DEFINE OS ELEMENTOS DA LISTA CARRINHO PARA EXIBIÇÃO */
  display: flex; /* FLEXIBILIZA A EXIBIÇÃO PARA MELHOR VISUALIZAÇÃO DA LISTA */
  align-items: center; /* ALINHA ESTES ELEMENTOS NO CENTRO DA PÁGINA */
  justify-content: space-between; /* ALINHA OS ELEMENTOS DENTRO DO CONTAINER, DANDO UM ESPAÇAMENTO ENTRE ELES */
  margin-bottom: 10px; /* ADICIONA UMA MARGEM DE 10 PIXELS NA MARGEM INFERRO AOS ELEMENTOS DA LISTA */
  border-bottom: 1px solid #ddd; /* ADICIONA UMA MARGEM INFERIOR DE 1 PXEL A CADA ELEMENTO EM RELAÇÃO A BORDA */
  padding-bottom: 10px; /* ADICIONA UMA MARGEM DE 10 PIXELS A MARGEM INFERIOR DE CADA ELEMENTO */
}
/* SELECIONA OS PRODUTOS, DEFININDO A ELES MEDIDAS PARA OCUPAREM A TELA DE FORMA ORGANIZADA */
#produtos li img {   /* DEFINE A LISTA DE PRODUTOS */
  max-height: 50px;  /* AUTOMATIZA A ALTURA MÁXIMA DAS IMAGENS PARA 50 PIXELS */
  margin-right: 10px; /* ADICIONA UMA MARGEM A DIREITA DA LISTA PARA MELHOR VISUALIZAR OS ELEMENTOS DELA */
}

#carrinho li img {  /* SELECIONA OS ELEMENTOS DENTRO DO CARRINHO*/
  max-height: 30px; /* DEFINA A ALTURA MÁXIMA DAS IMAGENS DENTRO DO CONTAINER */
  margin-right: 10px;  /* ADICIONA UMA MARGEM A DIREITA DA LISTA */
}

/* POSICIONA O CARRINHO, QUANDO ELE APARECE, NA MARGEM DIREITA, FIXANDO-O NA PARTE ALTA DA TELA */
#carrinho {  /* SELECIONA OS ELEMENTOS DO CARRINHO ( AS IMAGENS) */
  margin-top: 20px; /* ADICIONA UMA MARGEM SUPERIOR DE 20 PIXELS */
}
 #carrinho{  /* SELECIONA OS ELEMENTOS DO CARRINHO */
  display: none;  /* NÃO MOSTRA O CARRINHO */
  position: fixed;  /* CORRIGE O POSICIONAMENTO DOS ELEMENTOS */
  top: 50px; /* POSICIONA OS ELEMENTOS 50 PIXELE DA LINHA DA MARGEM */
  right: 10PX;  /* DEFINE COMO 10 PIXELS A MARGEM DIREITA DO CONTAINER */
  background-color: #6b1a1a;  /* DEFINE A COR DO FUNDO DO CARRINHO */
  border: 1px;   /* ADICIONA UMA BORDA EM TORNO DO CARRINHO */
  padding: 10px;  /* ADICIONA UMA MARGEM ENTRE OS ELEMENTOS E A BORDA DO CARRINHO */
  border-radius: 5px;  /* ARREDONDA AS BORDAS DO CARRINHO EM 5 PIXELS*/
  z-index: 999;   /* MOSTRA O CARRINHO SOBRE OS ELEMENTOS DA PÁGINA */

 }

#carrinho h2 {  /* CRIA TÍTULO PARA CARRINHO "CARRINHO"*/
  margin-bottom: 10px;   /* DEFINE A MARGEM INFERIOR DO TÍTULO DO CARRINHO PARA 10 PIXELS */
}


#total-carrinho {   /* IDENTIFICA O ELEMENTO TOTAL CARRINHO*/
  font-weight: bold;  /* DEFINE A ESESSURA DA FONTE USADA NA MENSAGEM DE RESULTADO TOTAL */ 
}

/* ESTILIZA O BOTÃO DE COMPRA DO CARRINHO */
button {     /*  SELECIONA O ELEMETO BOTÃO DO " ADICIONAR AO CARRINHO */
  cursor: pointer;   /* MUDA O CURSOR DO BOTÃO QUANDO ESTE É POSICIONADO SOBRE ELE */
  border: none;   /* REMOVE TODAS AS BORDAS DO BOTÃO */
  background-color: #007bff;  /* DEFINE A COR DO FUNDO DO BOTÃO */
  color: #fff;  /* DEFINE A COR DA FONTE INTERNA DO BOTÃO */
  padding: 5px 10px;  /* ADICIONA UMA MARGEM DE 5 PIXELS NAS MARGENS SUPERIOR E INFERIOR E 10 PIXELS NAS MARGENS ESQUERDA E DIREITA */
  border-radius: 3px;   /* ARREDONDA AS LATERAIS DO BOTÃO EM 3 PIXELS PARA UMA MELHOR VISUALIZAÇÃO */
}


button:hover,  /* ATIVA TODOS OS BOTÕES DO SITE QUAND O CURSOR ESTIVER SOBRE ELES*/
button:active {   /*  ATIVA OS BOTÕES QUANDO ELES SÃO ACIONADOS */
  background-color: #0069d9;  /*  DEFINE A COR DOS BOTÕES DA PÁGINA */ 
}

/* ESTILIZA O PAINEL DE NAVEGADORES, POSICIONANDO O NO CENTRO DA PÁGINA(INICIO, SOBRE...*/
nav {   /* DEFINE A LISTA DE NAVEGAÇÃO DO SITE */
  display: flex; /*  AJUSTA OS ELEMNTOS DENTRO DO PAINEL DE NAVEGAÇÃO PARA UMA MELHOR VISUALIZAÇÃO */
  justify-content: center;  /* AJUSTA OS ELEMENTOS DENTRO DO QUADRO PARA MELHORAR A VISUALIZAÇÃO */
  background-color: #0053A0; /* DEFINE A COR DE FUNDO DA BARRA DE NAVEGAÇÃO DO SITE */
}

/* ESTILIZA A LISTA DE NAVEGADORES */
nav ul {   /* SELECIONA OS ELEMENTOS DENTRO DO PAINEL DE NAVEGAÇÃO */
  list-style: none;   /* REMOVE OS MARCADORES DESTA LISTA PARA OS NAVEGADORES */
  margin: 0;   /* REMOVE AS MARGENS AO REDOR DA LISTA */
  padding: 0;   /* RETIRA O ESPAÇO ENTRE OS ELEMENTOS E AS BORDAS DA LISTA */
}


nav ul li {   /* SELECIONA OS ELEMENTOS DE UMA LISTA NÃO ORDENADA */
  display: inline-block;   /* MOSTRA ESLES ELEMENTOS EM BLOCO, AJUSTANDO-OS AO PAINEL DO ITEM NAVEGAÇÃO */ 
}


nav ul li a {   /* SELECIONA OS LINKS DE NAVEGAÇÃO DENTRO DO PAINEL */
  display: block;   /* FAZ COM QUE OS LINKS OCUPEM TODA A ÁREA DO CONTAINER */
  color: #fff;   /* DEFINE A COR DOS TEXTOS DOS LINKS */
  text-decoration: none;   /* REMOVE O SUBLINHADO DAS LINHAS DE TEXTO DOS LINKS */
  padding: 10px 20px;   /* DEFINE AS MARGENS DO CONTAINER DE NAVEGAÇÃ COMO 10 PIXELS SUPERIOR, E 20 INFERIOR */
}


nav ul li a:hover {   /* SELECIONA OS LINKS DE NAVEGAÇÃ (HOVER: INDICA APLICAÇÃO DOS ITENS QUANDO O MOUSE SE POSICIONAR SOBRE ELES */
  background-color: #fff;   /* MUDA A COR DOS ELEMENTOS QUANDO ELES SÃO ACIONADOS */
  color: #0053A0;   /* DEFINE A COR DESTES ELEMENTOS QUANDO SÃO ACIONADOS */
}

/* ESTILIZA OS CONTAINERES DE PRODUTOS, COLORINDO, E POSICIONANDO-OS NO CENTRO DA PÁGINA */
.produtos-container {  /* DEFINE A CLASSE DO CONTAINER DOS PRODUTOS */
  display: flex;   /* DEFINE UM POSICIONAMENTO DA CLASSE PRODUTO CONTAINER MELHORANDO O POSICIONAMENTO DOS INTENS DENTRO DO GRUPO */
  flex-wrap: wrap;   /* DEFINE QUE OS INTENS NÃO IRÃO SE SOBREPOR SE AJUSTANDO DENTRO DO PAINEL DE PRODUTOS */
  justify-content: space-around;   /* DISTRIBUI O ESPAÇO IGUALMENTE DENTRO DO ESPAÇO DO CONTAINER PARA OS ELEMENTOS SE POSICIONAREM DE FOMA IGUAL */
}


.produto-card {   /* DEFINE A CLASSE CONTAINER DAS FOTOS DOS PRODUTOS */
  width: 23%;   /* DEFINE A LARGURA MÁXIMA DOS ELEMENTOS DENTRO DO PAINEL DE PRODUTOS */
  border: 1px solid #ddd;   /* DEFINE UMA BORDA DE 1 PIXEL PARA CADA ELEMENTO */
  border-radius: 5px;   /* ARREDONDA AS BORDAS DOS ELEMENTOS EM 5 PIXELS */
  margin-bottom: 20px;   /* ADICONA UMA MARDEM INFERIOR DE 20 PIXEL A TODOS OS ELEMENTOS */
  padding: 8px;   /* DEFINE UMA DISTÃNCIA DE 8 PIXELS ENTRE OS ELEMENTOS */
  text-align: center;  /*  ALINHA OS TEXTOS DENTRO DO CONTAINER */
}

/* LIMITA AS DIMENSÕES DOS QUADROS DAS FORTOS, E OS POSICIONA NA TELA */
.produto-card img {   /*DEFINE A CLASSE DAS IMAGENS DOS PRODUTOS */
  max-width: 78px;   /* SE A LARGURA DO ELEMENTO ULTRAPASSAR ESTE VALOR, ELA SERÁ REDUZIDA PARA CABER NO PAINEL */
  margin-bottom: 10px;   /* CRIA UM ESPAÇO INFERIOR ENTRE OS ELEMENTOS, E QUALQUER OUTRO DENTRO DO CONTAINER */
  display: block;  /* MOSTRA UMA VISUALIZAÇÃO DOS ELEMENTOS EM FORMA DE BLOCOS */
  margin: 0 auto;  /* CONFIGURA AS MARGENS INFERIOR E SUPERIOR DOS ELEMENTOS COM AUTOMÁTICAS DENTRO DO BOLCO */
}


.produto-card span {  /* SELECIONA TODOS OS ELEMENTOS (SPAN)QUE ESTÃO DENTRO DA CLASSE DE IMAGENS DOS PRODUTOS */
  display: block;  /* SIGNIFICA QUE OS ELEMENTOS SERÃO VISUALIZADOS EM BLOCO */
  margin-bottom: 5px;  /* DEFINE UMA MARGEM INFERIOR DE 5 PIXELS ENTRE OS ELEMENTOS DO CONTAINER */
}


.btn-container {  /* SELECIONA OS ELEMENTOS DA CLASSE BTN-CONTAINER */
  margin-top: 15px; /* DEFINE UMA MARGEM SUPERIOR DE 15 PIXELS ENTRE OS ELEMENTOS DA CLASSE */
}

/* CONFIGURA A PÁGINA, PARA QUE ELA SE ADAPTE A QUALQUER TAMANHO DE TELA,  INDEPENDENTE DO EQUIPAMENTO 
   ONDE O APLICATIVO IRÁ FUNCIONAR */
@media only screen and (max-width: 767px) {  /* AJUSTA A TELA PARA O DISPOSITIVO USADO PARA VISUALIZAÇÃO DO SITE*/



  .produtos-container {  /* SELECIONA OS ELEMENTOS DA CLASSE CONTAINER PRODUTOS */ 
    display: flex;    /* DEFINE O POSICIONAMENTO DENTRO DO PAINEL DE FORMA FLEXIVEL */
    flex-direction: column;  /* DEFINE A VISUALIZAÇÃO DOS ELEMENTOS COM UMA COLUNA */
    align-items: center; /* OS ELEMENTOS SERÃO VISUALIZADOS NO CENTRO DA PÁGINA, EM FORMA HORIZONTAL */
  }

  .produto-card {  /* SELECIONA OS ELEMENTOS DA CLASSE FOTOS DOS PRODUTOS */
    width: 90%;   /* ESTABELECE QUE O ELEMENTO OCUPE 90% DO TAMANHO DO CONTAINER */
    margin-bottom: 20px;  /* CRIA UMA MARGEM DE 20 PIXELS ENTRE OS ELEMENTOS DA CLASSE */
  }


  .produto-card img {  /* SELECIONA TODAS AS IMAGNS DA CLASSE FOTOS DOS PRODUTOS */
    max-width: 100%; /* ESPECIFICA A LARGURA MÁXIMA QUE CADA IMAGEM PODE TER */
  }


  .btn-container {   /* SELECIONA TODOS OS ELEMENTOS DA CLASSE DOS BOTÕES */
    margin-top: 10px;  /* DEFINE UMA DISTÃNCIA ENTRE OS ELEMENTOS DE 10PIXELS */
  }


  h1 {  /* SELECIONA O ELEMENTO DE TÍTULO */
    text-align: center;  /* ALINHA O TÍTULO NO CENTRO DA PÁGINA */
  }


  #carrinho {    /*SELECIONA OS ELEMENTOS DA CLASSE CARRINHO PELO ID DELES */
    margin-top: 10px;   /* DEFINE UMA DISTÃNCIA DE 10 PIXELS ENTRE OS ELEMENTOS DA CLASSE */
  }


  #carrinho h2 {   /* SELECIONA OS ELEMENTOS DO SUBTÍTULO DO CARRINHO */
    margin-bottom: 5px; /* DEFINE UM ESPAÇAMENTO DE 5 PIXELS ENTRE OS ELEMENTOS E A BORDA DIO CONTAINER  */
  }


  #lista-carrinho {   /* SELECIONA UM ELEMENTO DA LISTA DE PRODUTOS DO CARRINHO */
    padding-left: 0;  /* RETIRA A BORDA A ESQUERDA ENTRE OS ELEMENTOS DO CARRINHO E SEU CONTAINER */
  }

  #footer{ 
    display: flex;
    text-align: center;
    font-size: 25px;

  }
}
